body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
header{
  background-color: brown;
}
main{
  background-color: beige;
  font-size: 20px;
}
footer{
  background-color: aqua;
}
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
p{
  line-height: 20px;
}